{% if blogs.has_other_pages %}
<nav>
  <ul class="pagination justify-content-center">
    {% if blogs.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ blogs.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Previous</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}

    {% for num in blogs.paginator.page_range %}
      <li class="page-item {% if blogs.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a>
      </li>
    {% endfor %}

    {% if blogs.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ blogs.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
